@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: theme('colors.gray.100');
    --main-text: theme('colors.orange.600');
    --secondary-text: theme(colors.teal.700);
    --pomodoro-bg-color: 239, 68, 68;
}

.dark:root {
    --background: theme('colors.zinc.900');
    --main-text: theme('colors.orange.700');
    --secondary-text: theme(colors.teal.700);
    --pomodoro-bg-color: 219, 234, 254;
}

body {
    background-color: var(--background);
}
